<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="API_KEY" value="123"/>
		<add key="Max_Tokens" value="500"/>
		<add key="temperature" value="0.8"/>
	</appSettings>
</configuration>